<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="App_id" value="10020"/>
		<add key="Api_key" value="96478b8657ef00d8b0a1d4d79e759601"/>
		<add key="Secret" value="b20e01ba98ecbfca43a35b8aa4d41bb1"/>
		<add key="conString" value="Data Source=127.0.0.1;Initial Catalog=DB_Flat;Persist Security Info=True;User ID=sa;Password=123456"/>
		<!--interface-->
		<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="LoginUrl" value="http://127.0.0.1:828/CreateLogin.aspx"/>
		<add key="LoginOnUrl" value="http://web.baidu.com"/>
		<!-- 加入区信息 -->
		<!--
    <add key="ChargeUrl" value="http://127.0.0.1:828/ChargeMoney.aspx"/>
    <add key="ChargeKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
    -->
		<add key="ChargeUrl_s1" value="http://127.0.0.1:828/ChargeMoney.aspx"/>
		<add key="ChargeKey_s1" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="ChargeUrl_s2" value="http://127.0.0.1:828/ChargeMoney.aspx"/>
		<add key="ChargeKey_s2" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="FlashUrl" value="http://127.0.0.1:840/Default.aspx"/>
		<add key="ValidateUrl" value="http://api.hi.baidu.com/1.0/restserver"/>
		<add key="PayUrl" value="http://api.hi.baidu.com/1.0/restserver"/>
		<add key="PayMethod" value="baidu.pay.regOrder"/>
		<add key="ComfirmUrl" value="http://apps.hi.baidu.com/pay/confirm"/>
		<add key="LogPath" value="RecordLog"/>
		<add key="PhotoUrl" value="http://himg.baidu.com/sys/portraitn/item/{0}.jpg"/>
		<add key="HomePageUrl" value="http://hi.baidu.com/sys/checkuser/{0}"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<sessionState mode="InProc" timeout="60" cookieless="true"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
